# Data Types in Python

* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

#                                             Python Numbers

In [1]:
# division
3/2

1.5

In [2]:
# floor Division
3//2

1

In [3]:
# power
16 ** 0.5

4.0

# Variable Assignment

In [4]:
password =74876

In [5]:
type(password)

int

In [6]:
# same variable can hold any type of data
password= "shuvro"

In [7]:
type(password)

str

# Strings

In [8]:
# '' or "" can be used to declare strings
last_name = "Shuvro"
first_name = 'Fardaws'
print(first_name + " Hassan " + last_name)

Fardaws Hassan Shuvro

Strings in Python are `immutable`

In [9]:
first_name[0] = K

NameError: name 'K' is not defined

There is minus indexing in python string to index from backward.

In "shuvro", the index will be ( 0,-5,-4,-3,-2,-1 )

In [10]:
name = "Fardaws Hassan"
print(name[-1])

n

Length of String

In [11]:
len(name)

14

#### String Slicing ###

variable_name[ `start from` : `stop before` : `jump` ]

In [12]:
name = "Fardaws Hassan Shuvro"

In [13]:
name[:3]

'Far'

In [14]:
name[12:]

'an Shuvro'

In [15]:
name[8:13]

'Hassa'

In [16]:
name[:] #or [::]

'Fardaws Hassan Shuvro'

In [17]:
name[::-1]

'orvuhS nassaH swadraF'

In [18]:
name[::2]

'FrasHsa hvo'

In [19]:
name[8:14:2]

'Hsa'

#### String Replication and Formatting ###

In [20]:
#*** replication***
name = "Shuvro "
name * 5

'Shuvro Shuvro Shuvro Shuvro Shuvro '

In [21]:
#*** formatting style - 1 ***
print("This is {} Hassan {}".format(first_name,last_name))

This is Fardaws Hassan Shuvro

In [22]:
#*** formatting style - 2 ***
print(f"This is {first_name} Hassan {last_name}")

This is Fardaws Hassan Shuvro

precision
{ `variable` : `total space`.`precision` f   }

In [23]:
weight = 62.1246559
print(f"Here will be 4 padding and 6 character{weight:10.3f}")

Here will be 4 padding and 6 character    62.125

#### String Methods

`Not yet noted`

# List

List in python is more like an `array` that can hole any type of data.

In [24]:
example_list = [ "Fardaws Hassan" , 180121 , 3.38]

List is `mutable` and we can also use `len` function in it.

In [25]:
example_list[0] = "Fardaws Hassan Shuvro"

In [26]:
len(example_list)

3

#### Concatenation

In [27]:
concate_list = [ 101794 , 'Rajshahi' , "O+"]

In [28]:
new_list = example_list + concate_list

In [29]:
new_list

['Fardaws Hassan Shuvro', 180121, 3.38, 101794, 'Rajshahi', 'O+']

#### Slicing

In [30]:
new_list[:3]

['Fardaws Hassan Shuvro', 180121, 3.38]

In [31]:
new_list[3:]

[101794, 'Rajshahi', 'O+']

In [32]:
new_list[0:5:2]

['Fardaws Hassan Shuvro', 3.38, 'Rajshahi']

#### Replication

In [33]:
example_list * 2

['Fardaws Hassan Shuvro', 180121, 3.38, 'Fardaws Hassan Shuvro', 180121, 3.38]

#### Nested List

In [34]:
member_1 = ["Fardaws Hassan" , "Pust"]
member_2 = ["Khurshid Hassan" , "Rcs"]
member_3 = ["Shawrov Hassan" , "Rc"]
family = [ member_1, member_2, member_3 ]
family

[['Fardaws Hassan', 'Pust'],
 ['Khurshid Hassan', 'Rcs'],
 ['Shawrov Hassan', 'Rc']]

In [35]:
family[0]

['Fardaws Hassan', 'Pust']

In [36]:
family[0][1]

'Pust'

#### List Comprehensions
like { x:x belongs to every element of iterable and x is (any condition) }

In [37]:
comp_list = [x**2 for x in range(0,10,2)]
comp_list

[0, 4, 16, 36, 64]

In [38]:
comp_list = [x**2 for x in range(0,10) if (x%2 != 0)]
comp_list

[1, 9, 25, 49, 81]

In [39]:
member_name = [item for item in family]
member_name

[['Fardaws Hassan', 'Pust'],
 ['Khurshid Hassan', 'Rcs'],
 ['Shawrov Hassan', 'Rc']]

In [40]:
member_name = [item[0] for item in family]
member_name

['Fardaws Hassan', 'Khurshid Hassan', 'Shawrov Hassan']

#### List Methods

`Not yet noted`

list.append() 
list.extend()
list.pop()
list.sort()
list.reverse()

# Dictionaries

`unorderd`

In [41]:
roll_21 = {'name':'Fardaws Hassan Shuvro','roll':180121,'district':"rajshahi"}

In [42]:
print(f"Name of roll 21 is {roll_21['name']}, Student id is {roll_21['roll']}, district {roll_21['district']}.")

Name of roll 21 is Fardaws Hassan Shuvro, Student id is 180121, district rajshahi.

#### Dictionary Methods

In [43]:
roll_21.keys()

dict_keys(['name', 'roll', 'district'])

In [44]:
roll_21.values()

dict_values(['Fardaws Hassan Shuvro', 180121, 'rajshahi'])

In [45]:
roll_21.items()

dict_items([('name', 'Fardaws Hassan Shuvro'), ('roll', 180121), ('district', 'rajshahi')])

#### Nested Dictionaries

In [46]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}
d['key1']['nestkey']['subnestkey']

'value'

#### Dictionaries are `mutable`

In [47]:
d['key1']['nestkey']['subnestkey'] = 45
d['key1']['nestkey']['subnestkey']

45

#### Add item to Dictionaries

In [48]:
roll_21['batch'] = '10th'

In [49]:
roll_21.items()

dict_items([('name', 'Fardaws Hassan Shuvro'), ('roll', 180121), ('district', 'rajshahi'), ('batch', '10th')])

# Tuples

Tuples are `immutable` list means they can not be changed which is very useful for security purpose.

In [50]:
log = ('shuvro',1234)
print(log)

('shuvro', 1234)

Tuples can perform `indexing`, `slicing`, `replication` like List

#### Tuples Method

tuple.count()
tuple.index()

# Set

Set is an `Unorderd` `Unique` list

In [51]:
# can have one argument
name = set()

In [52]:
name.add('shuvro')
name.add('shuvro')
name.add('21')
name.add('21')
name.add('21')
name

{'21', 'shuvro'}

In [53]:
name = set(new_list)
name

{101794, 180121, 3.38, 'Fardaws Hassan Shuvro', 'O+', 'Rajshahi'}

In [54]:
set_exmp_list = [1,5,4,5,1,1,5,4,4,7,8,5,1,1,1,2,2,2,1,5]
set_exmp = set(set_exmp_list)
set_exmp

{1, 2, 4, 5, 7, 8}

# Booleans

In [55]:
a = True

In [56]:
b = False

In [57]:
c = None

# Control Structures

## If else

In [58]:
a = 13
if a>10:
    print("greater than 10")
elif a==10:
    print("10")
else :
    print("less than 10")

greater than 10

## For loop

#### For String

In [59]:
exmp_string = 'Fardaws'

# To access every Character from first to last
for var in exmp_string:
    print (var)

F
a
r
d
a
w
s

In [60]:
# To access character in a range
for var in range(2,5):
    print (exmp_string[var])

r
d
a

In [61]:
# To use iteration for number of character
for _ in exmp_string:
    print ("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello

#### For List

In [62]:
exmp_list = [5,4,5,2,6]

# To access every item from first to last
for var in exmp_list:
    print (var)

5
4
5
2
6

#### Tuple in List

In [3]:
list_1 = ['shuvro','rajesh','rajib']
list_2 = ['22','41','12']
list_3 = ['rajshahi','dhaka','chittagong']
tup_list = zip(list_1,list_2,list_3)
tup_list

In [4]:
for a,b,c in tup_list:
    print(f"name : {a}, age : {b}, district : {c}")

name : shuvro, age : 22, district : rajshahi
name : rajesh, age : 41, district : dhaka
name : rajib, age : 12, district : chittagong

#### For tuple

In [65]:
exmp_tuple = (exmp_list)

# To access every item from first to last
for var in exmp_tuple:
    print (var)

5
4
5
2
6

#### For Dictionaries

In [66]:
exmp_dict = {'name':'Shuvro', 'roll':180121, 'university':'Pust'}

# To access every ***Keys*** from first to last
for var in exmp_dict:
    print (var)

name
roll
university

In [67]:
# To access every ***values*** from first to last
for var in exmp_dict.values():
    print (var)

Shuvro
180121
Pust

In [68]:
# To access every ***items*** from first to last
for var in exmp_dict.items():
    print (var)

('name', 'Shuvro')
('roll', 180121)
('university', 'Pust')

In [69]:
# To access every ***Keys*** from first to last
for (a,b) in exmp_dict.items():
    print (f"{a} is : {b}")

name is : Shuvro
roll is : 180121
university is : Pust

#### For Set

In [70]:
exmp_set = set(exmp_list)

# To access every item from first to last
for var in exmp_set:
    print (var)

2
4
5
6

#### For else

If

In [71]:
for i in range(5):
    if (i==6):
        print('ti is')
        break
else:
    print('it is 4')

it is 4

# Built-in Functions

#### Range
dosen't save to memory

In [72]:
list(range(5))

[0, 1, 2, 3, 4]

In [73]:
list(range(0,100,8))

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]

#### Enumerate
make tuple with index and other iterable

In [74]:
for tuple_items in enumerate("Hello"):
    print(tuple_items)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [75]:
for index,latter in enumerate("Hello"):
    print(f"No {index+1} latter is {latter}")

No 1 latter is H
No 2 latter is e
No 3 latter is l
No 4 latter is l
No 5 latter is o

#### In

In [76]:
'x' in ['x','y','z']

True

#### Min and Max

In [77]:
min(exmp_dict)

'name'

In [78]:
max(exmp_list)

6

#### Input

In [79]:
input("input something here : ")

input something here :

''

#### Random Library

In [80]:
from random import shuffle
shuffle(exmp_list)
exmp_list

[4, 2, 6, 5, 5]

In [81]:
from random import randint
randint(0,1000)

441

# Function

In [90]:
import math

def is_prime(num = 2):   
    '''
        This is a function for to check if the number is prime or not
        input : any integer
        2 is default parameter
    '''
    
    for count in range(3,int(math.sqrt(num)),2):
        print()
        if(num%count == 0):
            print('not prime')
            break
    else:
        print('prime')

In [91]:
is_prime()
is_prime(78)

prime
not prime

#### Args

It takes all the parameters as a `tuple`

In [10]:
def addition(*args):
    length = len(args)
    print(f"The sum of given {length} number is {sum(args)}")
    
addition(4,5,4,7,8)

The sum of given 5 number is 28

#### Kwargs
It takes all the parameter as a `dictionary`

In [16]:
def student_info(**kwargs):
    print(f"Name is {kwargs['name']}, Roll is {kwargs['roll']}")

student_info(name = 'Shuvro', roll = 180121)

Name is Shuvro, Roll is 180121
<class 'dict'>

In combination of args and kwargs, there has to be args first, then kwargs and also same rule for parameters

In [1]:

def student_info(*args,**kwargs):
    for i in args:
        print(i)
        
    print("\n")
    
    for key,item in kwargs.items():
        print(f"{key} : {item}")
    
student_info('5 may 2020','Pabna University of Science and Technology','Cse',name = 'Shuvro', roll = '180121')

5 may 2020
Pabna University of Science and Technology
Cse


name : Shuvro
roll : 180121

In [41]:
class Animal:
    #normal variable
    name = 'This is an animal'
    
    def show(self):
        print(self.name)
    
    #constructor

In [47]:
dog = Animal

In [48]:
type(dog)

type

In [43]:
dog.name

'This is an animal'

In [44]:
dog.show()

This is an animal

###  *** Command line argument's first argument is its filename, so find the argument starting with one

### *** Use dir function to find all functions in a module

In [1]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [4]:
help(math.acos)

Help on built-in function acos in module math:

acos(x, /)
    Return the arc cosine (measured in radians) of x.

# Try - Except - Else - Finally

`Break` and `Continue` statement will be applied for the code that is after whole try block

In [1]:
while True:
    try:
        a = int(input('Inter a number : '))
        if (a%2 == 0):
            print('this is an even number')
        else:
            print('this is an odd number')
    except:
        ### if error
        print('There is an error in input')
        continue
    else:
        ### if no error
        print('no error, executed successfully')
        break
    finally:
        ### always will be executed
        print('thank you')

    ### From this, the `continue` and `break` will be applied
    print('End')

Inter a number : sdfs
There is an error in input
thank you
Inter a number : sdfsf
There is an error in input
thank you
Inter a number : 56
this is an even number
no error, executed successfully
thank you

# Decorator

Decorator add extra functionality to an already defined function. Use `@defined_function_name` and define extra functionality in a `function` below.

In [51]:
# A defined function
def modified_builtin(func):
    def wrap_fun():
        print("builtin code")
        func()
    return wrap_fun

In [53]:
def builtin():
    print("extra added manually")

#same as
builtin = modified_builtin(builtin)
builtin()

builtin code
extra added manually

In [55]:
@modified_builtin #defined function
def builtin(): #extra functionality
    print("extra added with decorator")

builtin()

builtin code
extra added with decorator

# Generators

It generates value when it is needed. `yield` keyword return an object from that generator function and  when it is needed, that generate values as the condition given in that function.

In [67]:
def cube(n):
    for i in range(n):
        yield i**3

It saves a huge amount of memory in large cases and also saves some time.

In [70]:
i = cube(4)
print(next(i))
print(next(i))
print(next(i))
print(next(i))
print(next(i))

0
1
8
27

StopIteration:

Gives StorIteration error all values has been yielded and don't find anything to yield.

In [69]:
for i in cube(5):
    print(i)

0
1
8
27
64

### Iterator

We can make iterable object by `iter` which act like a generator, return values when it is needed.

In [6]:
name = "Fardaws Hassan"
itr = iter(name)

In [7]:
print(next(itr))
print(next(itr))
print(next(itr))

F
a
r

# Useful Modules

### Collections module

This module contains some useful specialized container like `Counter`, `defaultdict`, `orderedDict`, `namedTuple`.

##### Counter

It produce an ordered dictionary that contains

In [3]:
from collections import Counter

In [21]:
l_ist = ["a","b",1,4,3,2,5,"a","S","A"]
t_uple = (l)
s_et = set(t) #no use of counter in set

In [22]:
print(Counter(l_ist))
print(Counter(t_uple))
print(Counter(s_et))

Counter({'a': 2, 'b': 1, 1: 1, 4: 1, 3: 1, 2: 1, 5: 1, 'S': 1, 'A': 1})
Counter({'a': 2, 'b': 1, 1: 1, 4: 1, 3: 1, 2: 1, 5: 1, 'S': 1, 'A': 1})
Counter({'a': 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 'b': 1, 'S': 1, 'A': 1})

In [31]:
c_ounter = Counter(l_ist)
c_ounter

Counter({'a': 2, 'b': 1, 1: 1, 4: 1, 3: 1, 2: 1, 5: 1, 'S': 1, 'A': 1})

With counter, n most or least common elements.

In [36]:
print(c_ounter.most_common(2))
print(c_ounter.most_common()[:-2-1:-1])

[('a', 2), ('b', 1)]
[('A', 1), ('S', 1)]

In [42]:
c_ounter['a']

2

From Counter to list

In [51]:
l_ist = Counter(a = 4,b = 2)
l_ist = list(l_ist.elements())
print(l_ist)

['a', 'a', 'a', 'a', 'b', 'b']

##### DefaultDict